<div class="lots-container">
  <nav>
    <%# <%= will_paginate @lands, class:'pagination justify-content-center' %>
  </nav><br />
<% @lands.each do |land| %>
    <%= render 'land_card', land: land %>
<% end %>
<br />
<nav>
  <%# <%= #will_paginate @lands, class:'pagination justify-content-center' %>
</nav>
</div>
