<% content_for :admin_console do %>
  <%= link_to "Add a Lot", new_land_path, class: 'btn btn-primary' %>
<% end %>

<div class="container">
  <%= render "button_nav" %>

  <div class="double-header text-center">
    <h2 class="text-center title">
      Module Approved Lots
    </h2>
    <h3 class="title-blurb">All the lots you see below are available exclusively to Module (and you!) We've done the grunt work of making sure the lots are good to build on and are in locations you'll want to live in.</h3>
  </div>
  <br />

  <% if @lands.blank? %>
    <div class="text-center alert alert-warning lead">
      There are no lots in the system.
    </div>
  <% end %>

  <%= render "lands_index" %>

<br />
