<% content_for :admin_console do %>
  <%= link_to "Add a Lot", new_land_path, class: 'btn btn-info text-white' %>
<% end %>

<div class="container">

  <div class="double-header text-center">
    <h2 class="text-center title">
      Project Concepts
    </h2>
    <h3 class="title-blurb">
        We’re trying something new. We want to put designs in front of you to see what you think. The goal? To put designs you like on locations you love. All feedback is welcome!
    </h3>
    <span>
      Price ranges are representative of home price with standard features.
    </span>
    <br /><br />
  </div>
  <br />

  <% if @lands.blank? %>
    <div class="text-center alert alert-warning lead">
      There are no lots in the system.
    </div>
  <% end %>

  <%= render "lands_index" %>

<br />
