<% content_for :admin_console do %>
  <%= link_to "Add a Lot", new_land_path, class: 'btn btn-info text-white' %>
<% end %>

<div class="container">
  <%= render "button_nav" %>

  <div class="double-header text-center">
    <h2 class="text-center title">
      Lots Curated by Module
    </h2>
    <h3 class="title-blurb">All the lots you see below have been hand picked by the Module team. We’ve chosen these lots because of the location, site access, and the size of the lots accommodate our designs.</h3>
  </div>
  <br />

  <% if @lands.blank? %>
    <div class="text-center alert alert-warning lead">
      There are no lots in the system.
    </div>
  <% end %>

  <%= render "lands_index" %>

<br />
