<% content_for :admin_console do %>
  <%= link_to "Add Land Type", new_land_type_path, class: 'btn btn-primary' %>
<% end %>

<div class="container">

  <h2 class="text-center">Land Types</h2>
  <ul class="list-group col-6 align-self-center">
    <% @land_types.each do |type| %>
      <li class="list-group-item">
        <%= type.name %>
        <% if current_user.admin? %>
          <span class="badge badge-warning badge-pill"><%= link_to "Delete", land_type_path(type), method: :delete, data: {confirm: "Are you sure? Deleting this land type will also delete all associated land lots."} %></li></span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
