<% content_for :admin_console do %>
  <%= link_to "Grant Admin Priveleges",  make_admin_path(@user), class: 'btn btn-success' %>
<% end %>
<div class="container">
  <h2><%= @user.email %></h2>
  <div>
    <% if current_user.email == @user.email %>
      <%= link_to 'Edit Profile', edit_user_registration_path(current_user), class: 'btn btn-info' %>
    <% end %>
  </div>
</div>
