<div class="row">
  <div class="col">
    <%= form_for @contact_form, remote: true do |f| %>
      <h3>Want more info? Click the button below!</h3>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.hidden_field :lot_address, :value => land.address %>

      <div class="row">
        <div class="form-group col">
          <%= f.submit "Learn More", class: 'form-control btn btn-success', onclick: '$(this).val("Module will be in touch soon!"); $(this).addClass("disabled");' %>
        </div>
      </div>

    <% end %>
  </div>
</div>
