/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 /*
*= require_tree .
*/

$theme-colors: (
  primary: #0A2240,
  secondary: #969CA5,
  success: #5DAE9F,
  info: #65B0CB,
  warning: #F1897B,
  danger: #CA6282,
  light: #F0F2F6,
  dark: #707680,
) !default;

@import "bootstrap";

@font-face {
  font-family: "Neue Haas", sans-serif;
  src: url('/assets/stylesheets/neuhaas.css');
}

$breakpoint-tablet: 767px;
$breakpoint-phone: 575px;

.row {
  align-items: flex-end;

  @media only screen and (max-width: $breakpoint-phone){
    flex-direction: column;
  }
}

body {
  font-family: "Neue Haas", sans-serif;
  font-size: 1em;
  color: #0A2240;
}

section, div {
  display: block;
}

h1, .home-hero .home-hero__content h1 p, h2, h3, .price-tiers .tier .price, h4, h5, h6 {
  font-weight: bolder;
  color: #0A2240;
  margin-top: 0px;
  line-height: 1.2;
  font-family: "Neue Haas", sans-serif;
}

h2 {
  font-size: 48px;
  font-size: 3rem;
  margin: 0 0 20px;
  margin: 0 0 1.25rem;
}

h3 {
  font-size: 22px;
  font-size: 1.375rem;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
  font-weight: 400;
}

form {
  margin: 0 auto;
}

img {
  border: 0;
}

p {
  margin: 0 0 25px;
  margin: 0 0 1.5625em;
  font-size: 20px;
  font-size: 1.25em;
  line-height: 1.6;
  font-weight: 300;
}

b, strong {
  font-weight: 700;
}

hr {
  box-sizing: content-box;
  height: 0;
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}

a {
  transition: all 0.15s linear;
  color: #0A2240;
  text-decoration: none;
}
a:hover {
    color: #CC5B53;
    text-decoration: none;
  }

.double-header .title {
    display: inline-block;
    margin: 0 auto !important;
    padding: 0 .25em;
    font-size: 60px;
    font-size: 3rem;
    color: #0A2240;
    width: auto;

    @media only screen and (max-width: $breakpoint-tablet){
      font-size: 2rem;
    }
}

.title-blurb {
    width: 60%;
    margin-top: 1em;
    font-weight: lighter;
    font-size: 1.5em;
    margin-left: auto;
    margin-right: auto;

    @media only screen and (max-width: $breakpoint-tablet){
      width: 100%;
      font-size: 1.25em;
    }
}

.u-center-block {
  display: block;
  margin: 0 auto;
}

.admin-console {
  border-radius: 20px;
  padding: 2em;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.line-break {
  width: 100%;
}

.sliding-images-container {
  overflow: scroll;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 2em;
}

.sliding-image {
  display: inline;
  margin-right: 1em;
  max-height: 400px;
}

.delete-image-card img {
  max-width: 100%;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.btn {
  font-size: 24px;
  font-size: 1.5rem;
  padding: 8px 25px;
  padding: 0.5rem 1.5625rem;
  transition: background-color 0.15s linear, color 0.15s linear, border-color 0.15s linear;
  border: 0px;
  display: inline-block;
  font-family: "Neue Haas", sans-serif;
  line-height: 1.3;
  text-align: center;
  text-decoration: none !important;
   }
button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus,
.btn:active,
.btn:focus {
  outline: 0; }
button.btn-small,
input[type="button"].btn-small,
input[type="reset"].btn-small,
input[type="submit"].btn-small,
.btn.btn-small {
  font-size: 24px;
  font-size: 1.5rem;
  padding: 5px 12px;
  padding: .3125rem .75rem;
  border-width: 2px; }

.btn-outline-black {
  border: 3px solid #0A2240;
  color: #0A2240; }
.btn-outline-black:hover {
  background-color: #0A2240;
  color: white; }

.house-detail-row .btn-info .active {
  background-color: #377291 !important;
}


@media only screen and (max-width: $breakpoint-tablet){
  .nav-external-links {
    display: none;
  }
}

.dropdown-menu .dropdown-item {
  color: #0A2240;
}

.dropdown-menu .dropdown-item:hover {
  color: #F1897B;
}

.modal-dialog {
  max-width: 75%;
}

main {
  padding-bottom: 5em;
  min-height: 100vh;
}

footer {
  height: 5em;
  position: absolute;
  width: 100%;
  background-color: #0A2240;
  color: white;
  padding: 2em;
  text-align: center;
}

nav .pagination {
  display: flex;
  flex-direction: row;
}

nav .pagination a, nav .pagination em, nav .pagination span {
  padding: 1em;
  margin: 0;
  background-color: #F0F2F6;
  letter-spacing: .1em;
}

nav .pagination .current {
  background-color: #5DAE9F;
  color: white;
}

nav .pagination .disabled {
  color: #B8BCC5;
}


$breakpoint-tablet: 767px;
$breakpoint-phone: 575px;
$breakpoint-desktop: 1200px;

.line-break{
  width: 100%;
}

.construction-image {
    width: 100%;
  }

.title-blurb {
  width: 60%;
  margin-top: 1em;
  font-weight: lighter;
  font-size: 1.5em;
}

.lots-container, .saved-lots-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-bottom: 5em;
}

.exclusive-lot{
  display: none;
  margin: 1em;
  padding: 1em;
  width: 100%;
  border-style: solid;
  background-color: rgba(255, 255, 255, 0.9);
}

.saved-lots-container{
  flex-direction: row;
}
.saved-lots-container .exclusive-lot {
  display:block;
  width: 45%;
}
.saved-lots-container .lot-card-x {
  display: none;
}

.ready-lot-image{
  margin-bottom: 1em;
  max-height: 70vh;
}

.ready-lot-info{
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
}

.ready-lot-learn-more {
  display: flex;
  justify-content: center;
  align-content: center;
}

.lot-info{
  padding: 20px 0 60px;
  padding: 1.25rem 0 3.75rem;
}

.lot-info .double-header {
  margin-bottom: 4em;
}

.lot-info-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  padding-bottom: 2em;
}

.lot-blurb {
  max-width: 65%;
}

.lot-info-overview {
  max-width: 500px;
}

.lot-info-image {
  max-height: 60vw;
  max-width: 90vw;
  margin-bottom: 1em;
}

.lot-info-floorplan {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  padding-bottom: 2em;
}

.lot-form {
  background-color: #F0F2F6;
}

.ready-lot-images-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.module-exclusive-lots{
  padding: 20px 0 60px;
  padding: 1.25rem 0 3.75rem;
}

.lots-nav-btn-group {
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 2em;
  display: flex !important;
  justify-content: center;
  flex-direction: row;
}

.locations-nearby {
  max-width: 45%;
}

.land-iframe {
  width: 100%;
  height: 60vh;
}

@media only screen and (max-width: $breakpoint-tablet){
  .lot-details {
    flex-direction: column;
  }
  .exclusive-lot {
    max-width: 100%;
  }
  .lots-nav-btn-group {
    flex-direction: column;
  }
  .locations-nearby-container {
    flex-direction: column;
  }
  .locations-nearby {
    max-width: 100%;
  }
  .lot-details-section {
    max-width: 100%;
  }
}


.overlay {
  margin-top: -5em;
  height: 4em;
  background: rgb(10, 34, 64);
  background: rgba(10, 34, 64, 0.5); /* Black see-through */
  color: #f1f1f1;
  max-width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  padding: 1em;
  text-align: center;
}

.ready-lot-images-container:hover .overlay {
    opacity: 1;
}

.lot-iframe-container {
  max-width: 33.3333% !important;
  @media only screen and (max-width: 767px){
    max-width: 100% !important;
    padding-top: 1em;}
}

.lot-location-iframe{
  width: 100%;
  height: 29em;

  @media only screen and (max-width: $breakpoint-desktop){
    height: 24em;
  }

  @media only screen and (max-width: 991px){
    height: 17.3em;
  }

}

@media only screen and (max-width: $breakpoint-tablet){
  .lot-image-map{
    flex-direction: column;
  }
  .house-details-container {
    flex-direction: column;
  }

  .lot-likes-container{
    flex-direction: column;
  }
}

.house-detail-row {
  background-color: #DFDFDF;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: .5em;
  padding: 1em;
  text-align: center;
  font-size: 1.25em;
}

.house-detail-row .lot-saved-btn, .house-detail-row .make-mine-btn {
  background-color: white;
  border: 3px solid #000000;
  border-radius: 62px;
  width: 100%;
}

.lot-saved-btn:hover, .make-mine-btn:hover {
  background-color: #5DAE9F;
  color: white !important;
}

.lot-saved-btn.saved, .make-mine-btn.saved {
  background-color: #5DAE9F;
  color: white;
}


.lot-card-title{
  font-size: 1.5em;
}

.carousel-control-prev, .carousel-control-next {
  opacity: 1.0 !important;
  background: rgb(161,161,161);
  background: radial-gradient(circle, rgba(161,161,161,1) 0%, rgba(190,190,190,0) 20%);
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  width: 3em !important;
  height: 3em !important;
}

.new_contact_form {
  max-width: 100%;
}

/* MAPBOX STYLING */

/* The page is split between map and sidebar - the sidebar gets 1/3, map
gets 2/3 of the page. You can adjust this to your personal liking. */
.mapbox {
  display: flex;
  flex-direction: row;
}
body {
  color: #404040;
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #404040;
  text-decoration: none;
}

a:hover {
  color: #101010;
}

.pad2 {
  padding: 20px;
}

.map {
  width:100%;
  height: 90vh;
  top: 0;
  bottom: 0;
}

.heading {
  background: #fff;
  border-bottom: 1px solid #eee;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
}

.listings {
  height: 100%;
  overflow: auto;
  padding-bottom: 60px;
}

.listings .item {
  display: block;
  border-bottom: 1px solid #eee;
  padding: 10px;
  text-decoration: none;
}

.listings .item:last-child { border-bottom: none; }

.listings .item .title {
  display: block;
  color: #00853e;
  font-weight: 700;
}

.clearfix { display: block; }

.clearfix::after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.marker {
  border: none;
  cursor: pointer;
  height: 1em;
  width: 1em;
  background-repeat: no-repeat;
}

/* Marker tweaks */
.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  padding: 0;
  width: 180px;
}

.mapboxgl-popup-content-wrapper {
  padding: 1%;
}

.mapboxgl-popup-content h3 {
  background: #91c949;
  color: #fff;
  margin: 0;
  display: block;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  font-weight: 700;
  margin-top: -15px;
}

.mapboxgl-popup-content h4 {
  margin: 0;
  display: block;
  padding: 10px;
  font-weight: 400;
}

.mapboxgl-popup-content div {
  padding: 10px;
}

.mapboxgl-container .leaflet-marker-icon {
  cursor: pointer;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 15px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
  border-bottom-color: #91c949;
}
