/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 /*
*= require_tree .
*/

@import "bootstrap";

.admin-console {
  border-radius: 20px;
  padding: 2em;
}

.footer {
  padding-top: 4em;
  margin-bottom: 2em;
  background-color: lightgrey;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.line-break {
  width: 100%;
}

.sliding-images-container {
  overflow: scroll;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 2em;
}

.sliding-image {
  display: inline;
  margin-right: 1em;
  max-height: 400px;
}

.delete-image-card {
  margin: 1.5rem;
}

.delete-image-card img {
  max-height: 400px;
  max-width: 100%;
}

.card {
  max-height: 100vh;
}
