.line-break{
  width: 100%;
}

.construction-image {
    width: 100%;
  }

.title-blurb {
  width: 60%;
  margin-top: 1em;
  font-weight: lighter;
  font-size: 1.5em;
}

.lots-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  margin-bottom: 5em;
}

.exclusive-lot{
  margin: 1em;
  max-width: 40%;
}

.ready-lot-image{
  margin-bottom: 1em;
  max-height: 70vh;
}

.ready-lot-info{
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
}

.ready-lot-learn-more {
  display: flex;
  justify-content: center;
  align-content: center;
}

.lot-info{
  padding: 20px 0 60px;
  padding: 1.25rem 0 3.75rem;
}

.lot-info .double-header {
  margin-bottom: 4em;
}

.lot-info-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  padding-bottom: 2em;
}

.lot-info {
  @media only screen and (max-width: 770px) {
    flex-direction: column;
  }
}

.lot-blurb {
  max-width: 65%;
}

.lot-info-overview {
  max-width: 500px;
}

.lot-info-image {
  max-height: 60vw;
  max-width: 90vw;
  margin-bottom: 1em;
}

.lot-info-floorplan {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  padding-bottom: 2em;
}

.lot-form {
  background-color: #F0F2F6;
}

.ready-lot-images-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.module-exclusive-lots{
  padding: 20px 0 60px;
  padding: 1.25rem 0 3.75rem;
}

.lots-nav-btn-group {
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 2em;
  display: flex !important;
  justify-content: center;
  flex-direction: row;
}

.locations-nearby {
  max-width: 45%;
}

.land-iframe {
  width: 70vw;
  height: 40vw;

  @media only screen and (max-width: 450px) {
    width: 100%;
    height: 60vh;
  }
}

@media only screen and (max-width: 770px){
  .lots-container{
    flex-direction: column;
  }
  .exclusive-lot {
    max-width: 100%;
  }
  .lots-nav-btn-group {
    flex-direction: column;
  }
}
