.line-break{
  width: 100%;
}

.construction-image {
    width: 100%;
  }

.title-blurb {
  width: 60%;
  margin-top: 1em;
  font-weight: lighter;
  font-size: 1.5em;
}

.lots-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-bottom: 5em;
}

.exclusive-lot{
  margin: 1em;
  max-width: 40%;
  padding: 1em;
}

.exclusive-lot:hover {
  background-color: #0A2240;

  a {
    color: white;
  }

  .ready-lot-learn-more .btn {
    background-color: #0A2240;
    color: white;
  }
}

.exclusive-lot a:hover {
  color: white;
}

.ready-lot-image{
  margin-bottom: 1em;
  max-height: 70vh;
}

.ready-lot-info{
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
}

.ready-lot-learn-more {
  display: flex;
  justify-content: center;
  align-content: center;
}

.lot-info{
  padding: 20px 0 60px;
  padding: 1.25rem 0 3.75rem;
}

.lot-info .double-header {
  margin-bottom: 4em;
}

.lot-info-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  padding-bottom: 2em;
}

.lot-blurb {
  max-width: 65%;
}

.lot-info-overview {
  max-width: 500px;
}

.lot-info-image {
  max-height: 60vw;
  max-width: 90vw;
  margin-bottom: 1em;
}

.lot-info-floorplan {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  padding-bottom: 2em;
}

.lot-form {
  background-color: #F0F2F6;
}

.ready-lot-images-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.module-exclusive-lots{
  padding: 20px 0 60px;
  padding: 1.25rem 0 3.75rem;
}

.lots-nav-btn-group {
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 2em;
  display: flex !important;
  justify-content: center;
  flex-direction: row;
}

.locations-nearby {
  max-width: 45%;
}

.land-iframe {
  width: 100%;
  height: 60vh;
}

@media only screen and (max-width: $breakpoint-tablet){
  .lots-container {
    flex-direction: column;
  }
  .lot-details {
    flex-direction: column;
  }
  .exclusive-lot {
    max-width: 100%;
  }
  .lots-nav-btn-group {
    flex-direction: column;
  }
  .locations-nearby-container {
    flex-direction: column;
  }
  .locations-nearby {
    max-width: 100%;
  }
  .lot-details-section {
    max-width: 100%;
  }
}


.overlay {
  margin-top: -5em;
  height: 4em;
  background: rgb(10, 34, 64);
  background: rgba(10, 34, 64, 0.5); /* Black see-through */
  color: #f1f1f1;
  max-width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  padding: 1em;
  text-align: center;
}

.ready-lot-images-container:hover .overlay {
    opacity: 1;
}
