<div class="container text-center">
  <% if user_signed_in? && current_user != true_user %>
    <div class="alert alert-light" role="alert">
      You (<%= true_user.email %>) are signed in as <%= current_user.email %>
      <%= link_to "Back to admin", stop_impersonating_users_path, method: :post %>
    </div>
  <% end %>
</div>
<% if user_signed_in? && current_user.admin? %>
<br />
<div class="container">
  <div class="bg-light admin-console text-center">
    <div class="lead">
      <h5>Admin Console</h5>
      <div>
        <%= yield :admin_console %>
      </div>
    </div>
  </div>
</div>
<% end %>
<br />
